/*utils*/
/*base*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.background-color {
  color: #e5e5e5;
}

/*--Main Container--*/
.container {
  padding: 0 15px;
}

/*--container: Mobile--*/
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .hero .container {
    display: inline-block;
    text-align: center;
    padding: 0;
  }
}

/*--container: Tablet--*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    position: relative;
    width: 768px;
  }
  .hero .container {
    display: inline-block;
    text-align: center;
    padding: 0;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }
}

/*--container: Desktop--*/
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .header .container {
    display: flex;
  }
  .hero .container {
    display: block;
    margin: 0 auto;
    padding: 0;
  }
}

/*--container-footer: Tablet--*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*components*/
/*--Menu Buttons-Close & Open--*/
.menu-buttons-burger {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

@media screen and (min-width: 320px) {
  .menu-buttons-burger .icon-cross {
    display: none;
  }
  .menu-buttons-burger.is-open .icon-cross {
    display: block;
  }
  .menu-buttons-burger.is-open .icon-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-buttons-burger {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu-buttons-burger {
    display: none;
  }
}

/*--Menu Container--*/
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    height: 393px;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 60px 0;
    text-align: center;
    font-size: 20px;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    display: flex;
  }
}

.sublist {
  display: flex;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .sublist {
    display: inline-block;
    align-items: center;
    margin-top: 60px;
  }
  .sublist-item-mail {
    margin-bottom: 16px;
  }
  .sublist-item-tel {
    display: inline-block;
    align-items: center;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .sublist {
    display: inline-block;
    margin-left: 84px;
  }
  .sublist-item-mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .sublist {
    display: flex;
    margin-left: 305px;
  }
  .sublist-item-mail {
    display: flex;
  }
  .sublist-item-tel {
    display: flex;
    margin-left: 30px;
  }
}

/*--Header Contact--*/
.contact-bright-bg-mail, .contact-bright-bg-tel {
  display: flex;
  align-items: center;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-bright-bg-mail, .contact-bright-bg-tel {
  color: #757575;
}

.contact-bright-bg-mail:hover, .contact-bright-bg-mail:focus, .contact-bright-bg-tel:hover, .contact-bright-bg-tel:focus {
  color: #2196f3;
}

.contact-bright-bg-mail:hover .icon-envelope-svg,
.contact-bright-bg-mail:focus .icon-envelope-svg,
.contact-bright-bg-tel:hover .icon-smartphone-svg,
.contact-bright-bg-tel:focus .icon-smartphone-svg {
  fill: #2196f3;
}

@media screen and (min-width: 320px) {
  .contact {
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .contact-bright-bg-mail, .contact-bright-bg-tel {
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contact-bright-bg-mail, .contact-bright-bg-tel {
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
  }
}

.icon-envelope-svg, .icon-smartphone-svg {
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*--Footer Cotact--*/
.contact-mail, .contact-tel {
  color: rgba(255, 255, 255, 0.6);
}

.contact-map, .contact-mail, .contact-tel {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.713;
  letter-spacing: 0.03em;
}

.contact-map {
  color: #ffffff;
}

.contact-map, .contact-mail {
  display: inline-block;
  margin-bottom: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-map:hover, .contact-map:focus, .contact-mail:hover, .contact-mail:focus, .contact-tel:hover, .contact-tel:focus {
  color: #2196f3;
}

.modal-button {
  display: inline-block;
  text-align: center;
  padding: 10px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  background-color: #188ce8;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 500ms linear 250ms;
  padding: 40px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover, .close-button:focus {
  fill: #2196f3;
}

.icon-close-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 500ms linear 500ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: all 500ms linear 0ms;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1,167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:focus, .modal-form-massage:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-massage {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1,141;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
}

.modal-form-button {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #188ce8;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover, .modal-form-button:focus {
  background-color: #188ce8;
}

.modal-form-policy-label {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1,713;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.modal-form-policy-label::before {
  content: "";
  display: flex;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 7px;
}

.modal-form-policy:checked + .modal-form-policy-label::before {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/check-mark-icon.svg);
}

.headline-modal {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1,151;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field-wraper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-icon-svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.modal-form-input:focus + .modal-icon-svg {
  fill: #2196f3;
}

.coment-titel-wraper {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1,167;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-link-accent-color {
  display: inline-block;
  color: #2196f3;
}

.submit-button-wraper {
  display: flex;
  justify-content: center;
}

/*--Social: COMMON--*/
.social-list {
  display: flex;
  justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: #2196f3;
}

.social-list-svg {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-svg {
  fill: #ffffff;
}

/*--Social-block-footer: Mobile--*/
@media screen and (min-width: 480px) {
  .social-block-footer {
    text-align: center;
    margin-bottom: 60px;
  }
}

/*--Social-block-footer: Tablet--*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-block-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 60px;
  }
}

/*--Social-block-footer: Desktop--*/
@media screen and (min-width: 1200px) {
  .social-block-footer {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 70px;
    margin-bottom: 0;
  }
}

/*--Slogan: COMMON--*/
.slogan {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1,141;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*--Social-list-footer: COMMON--*/
.social-list-footer {
  display: flex;
}

/*--Social-list-footer: Mobile--*/
@media screen and (max-width: 767px) {
  .social-list-footer {
    justify-content: center;
  }
}

/*--Social-list-footer: Tablet--*/
@media screen and (min-width: 768px) {
  .social-list-footer {
    justify-content: center;
  }
}

/*--Social-item-footer: COMMON--*/
.social-item-footer:not(:last-child) {
  margin-right: 10px;
}

/*--Social-link-footer: COMMON--*/
.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover, .social-link-footer:focus {
  background-color: #2196f3;
}

.social-link-footer-svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

/*.social-block-footer {
   display: inline-flex;
   flex-direction: column;
   align-items: flex-start;
   margin-left: 70px;
 }*/
/*.slogan {
   display: inline-block;
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 1,141;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: $titel-accent-bg-color;
 }*/
/*.social-list-footer {
   display: flex; 
 }*/
/*.social-item-footer:not(:last-child) {
   margin-right: 10px;
 }*/
/*.social-link-footer {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.1);
   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   &:hover, 
   &:focus {
   background-color: $bright-accent-color;
  }
   &-svg {
   fill: $titel-accent-bg-color;
   width: 20px;
   height: 20px;
  }

}*/
/*--Mailing-form-wraper: Mobile--*/
@media screen and (max-width: 767px) {
  .mailing-form-wraper {
    display: block;
    text-align: center;
  }
}

/*--Mailing-form-wraper: Tablet--*/
@media screen and (min-width: 768px) {
  .mailing-form-wraper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

/*--Mailing-form-wraper: Desktop--*/
@media screen and (min-width: 1200px) {
  .mailing-form-wraper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 93px;
  }
}

/*--Mailing-form: COMMON--*/
/*--Mailing-form: Mobile & Tablet--*/
@media screen and (min-width: 480px) {
  .mailing-form {
    display: block;
  }
}

/*--Mailing-form: Tablet--*/
@media screen and (max-width: 1199px) {
  .mailing-form {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
  }
}

/*--Mailing-form: Desktop--*/
@media screen and (min-width: 1200px) {
  .mailing-form {
    display: flex;
  }
}

/*--Mailing-form-input: COMMON--*/
.mailing-form-input {
  padding-left: 16px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-form-input-input:focus {
  outline: none;
}

/*--Mailing-form-input: Mobile & Tablet--*/
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .mailing-form-input {
    width: 450px;
    margin-bottom: 20px;
  }
}

/*--Mailing-form-input: Desktop--*/
@media screen and (min-width: 1200px) {
  .mailing-form-input {
    width: 358px;
  }
  .mailing-form-input:not(:last-child) {
    margin-right: 12px;
  }
}

/*--Mailing-form-submit: COMMON--*/
.mailing-form-submit {
  display: flex;
  align-items: center;
  padding-left: 29px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1,875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 4px;
  background-color: #2196f3;
  border: 1px solid #188ce8;
  outline: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-form-submit:hover, .mailing-form-submit:focus {
  background-color: #188ce8;
}

/*--Button-wraper: COMMON--*/
.button-wraper {
  position: relative;
  display: flex;
}

/*--Submit-icon-svg: COMMON--*/
.submit-icon-svg {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: #ffffff;
}

/*.mailing-form {
  display: flex; 
  
  &-wraper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 93px;
  }
  &-input {
    padding-left: 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
  }

  &-input:not(:last-child) {
    margin-right: 12px;
    }

  &-input:focus {
      outline: none;
    }
    
  &-submit {
    display: flex;
    align-items: center;
    padding-left: 29px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,876;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $titel-accent-bg-color;
    border-radius: 4px;
    background-color: $bright-accent-color;
    border: 1px solid $bg-accent-color;
    outline: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $bg-accent-color; 
    }
    
  }
}*/
/*.button-wraper {
  position: relative;
  display: flex;
}*/
/*.submit-icon-svg {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: $titel-accent-bg-color;
}*/
/*layout*/
/*--Header: COMMON--*/
.header {
  padding: 0;
  border-bottom: 1px solid #ECECEC;
  background-color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

/*--Logo-header: COMMON--*/
.logo-header {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #000000;
}

/*--Logo-header: Mobile--*/
@media screen and (min-width: 320px) {
  .logo-header {
    margin-right: 276px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 1.175;
  }
}

/*--Logo-header: Tablet--*/
@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 88px;
  }
}

/*--Logo-header: Desktop--*/
@media screen and (min-width: 1200px) {
  .logo-header {
    font-size: 26px;
    line-height: 1.191;
    margin-right: 94px;
  }
}

/*--Logo-accent: COMMON--*/
.logo-accent {
  color: #2196f3;
}

/*--Navigation: Mobile--*/
@media screen and (min-width: 480px) and (max-width: 767px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation-list-item {
    position: relative;
  }
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

/*--Navigation: Tablet--*/
@media screen and (min-width: 767px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-list-item {
    position: relative;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

/*--Navigation: Desktop--*/
@media screen and (min-width: 1200px) {
  .navigation {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-list-item {
    position: relative;
  }
}

/*--Navigation-list-link: COMMON--*/
.navigation-list-link {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link.current::after {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.navigation-list-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: flex;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  opacity: 0;
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.navigation .navigation-list-link.current {
  color: #2196f3;
}

/*--Navigation-list-link: Mobile--*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation-list-link {
    position: relative;
    display: inline-block;
    align-items: center;
    padding: 0;
  }
  .navigation-list-link::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    display: flex;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    opacity: 0;
  }
}

/*--Navigation-list-link: Tablet--*/
@media screen and (min-width: 767px) {
  .navigation-list-link {
    display: inline-block;
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.143;
  }
}

/*--Navigation-list-link: Desktop--*/
@media screen and (min-width: 1199px) {
  .navigation-list-link {
    display: inline-block;
    font-size: 14px;
    line-height: 1.143;
  }
}

/*--Hero & Hero Headline--*/
.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .hero-headline {
  padding-top: 118px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.616;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/*--Mobile--*/
@media screen and (min-width: 320px) {
  .hero {
    max-width: 480px;
    min-height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-mobile.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px), screen and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .hero {
    background-image: url("../images/hero/bg-mobile@2x.jpg");
  }
}

/*--Tablet--*/
@media screen and (min-width: 767px) {
  .hero {
    max-width: 768px;
    min-height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: url("../images/hero/bg-tablet@2x.jpg");
  }
}

/*--Desktop--*/
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-desktop.jpg), url(../images/hero/grey-bg-desktop.jpg);
  }
  .hero .hero-headline {
    padding-top: 200px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: url("../images/hero/bg-desktop@2x.jpg");
  }
}

/*--features: COMMON--*/
.features-list-item::before {
  content: "";
  display: block;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.features-list-topic {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

/*--features: Mobile--*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  .features {
    padding: 60px 0 0;
  }
  .features-list {
    display: block;
  }
  .features-list-item {
    display: block;
    width: 450px;
  }
  .features-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .features-list-topic {
    text-align: center;
  }
  .features-list-text {
    height: 50px;
  }
}

/*--features: Tablet--*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features {
    padding: 60px 0 0;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features-list-item {
    display: inline-block;
    width: 354px;
  }
  .features-list-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .features-list-text {
    height: 75px;
  }
}

/*--features: Desctop--*/
@media screen and (min-width: 1200px) {
  .features {
    padding: 94px 0 0;
  }
  .features-list {
    display: flex;
  }
  .features-list-item {
    width: 270px;
  }
  .features-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

/*--icon: COMMON--*/
.icon-antenna::before {
  content: "";
  background-image: url(../images/features-bg-img/1-antenna.svg);
}

.icon-clock::before {
  content: "";
  background-image: url(../images/features-bg-img/2-clock.svg);
}

.icon-diagram::before {
  content: "";
  background-image: url(../images/features-bg-img/3-diagram.svg);
}

.icon-astronaut::before {
  content: "";
  background-image: url(../images/features-bg-img/4-astronaut.svg);
}

/*--Mobile & Tablet--*/
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

/*--Desktop--*/
@media screen and (min-width: 1200px) {
  .about {
    padding: 94px 0;
  }
  .about-desc {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .about-desc-list {
    display: flex;
  }
  .about-desc-item:not(:last-child) {
    margin-right: 30px;
  }
  .about-img-wraper {
    position: relative;
  }
  .about-img-overlay {
    padding-top: 27px;
    padding-bottom: 27px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1,141;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
  }
}

/*--Team: Mobile & Tablet--*/
@media screen and (max-width: 767px) {
  .team {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .team {
    background-color: #f5f4fa;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team-staff {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.178;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--titel-text-color);
    margin-bottom: 30px;
  }
}

/*--Team: Desktop--*/
@media screen and (min-width: 1200px) {
  .team {
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-staff {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--titel-text-color);
    margin-bottom: 50px;
  }
}

/*--Staff: COMMON--*/
.staff-info {
  padding: 30px;
}

.staff-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.staff-spetiality {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

/*--Staff: Mobile--*/
@media screen and (min-width: 320px) {
  .staff-list {
    display: block;
  }
}

/*--Staff: Tablet--*/
@media screen and (max-width: 1199px) {
  .staff-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/*--Staff: Desktop--*/
@media screen and (min-width: 1200px) {
  .staff-list {
    display: flex;
  }
}

/*--team-list-item: COMMON--*/
.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*--team-list-item: Mobile--*/
@media screen and (max-width: 767px) {
  .team-list-item {
    display: block;
    width: 450px;
    height: 622px;
  }
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

/*--team-list-item: Tablet--*/
@media screen and (max-width: 1199px) {
  .team-list-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

/*--team-list-item: Desktop--*/
@media screen and (min-width: 1200px) {
  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

/*--Clients: COMMON--*/
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
}

.clients-logo-svg {
  display: flex;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-logo-svg {
  fill: #2196f3;
}

/*--Clients: Mobile--*/
@media screen and (min-width: 320px) {
  .clients {
    padding: 60px 0;
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .clients-list-icon:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .clients-link {
    width: 210px;
    height: 90px;
  }
}

/*--Clients: Tablet--*/
@media screen and (min-width: 767px) {
  .clients {
    padding: 60px 0;
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
  }
  .clients-link {
    width: 226px;
    height: 90px;
  }
}

/*--Clients: Desktop--*/
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
  .clients-list {
    display: flex;
  }
  .clients-list-icon:not(:last-child) {
    margin-right: 30px;
  }
  .clients-link {
    width: 170px;
    height: 90px;
  }
}

/*--Titel-text: COMMON--*/
.titel-text {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*--Titel-text: Mobile & Tablet--*/
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .titel-text {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.178;
    text-align: center;
  }
}

/*--Footer: COMMON--*/
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

/*--Logo-address-footer: Mobile--*/
@media screen and (min-width: 480px) {
  .logo-address-footer {
    display: block;
    text-align: center;
    margin-bottom: 60px;
  }
}

/*--Logo-address-footer: Tablet--*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo-address-footer {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
  }
}

/*--Logo-address-footer: Desktop--*/
@media screen and (min-width: 1200px) {
  .logo-address-footer {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    text-align: left;
  }
}

/*--Logo-footer: COMMON--*/
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*--Logo-footer: Mobile & Tablet--*/
@media screen and (min-width: 480px) {
  .logo-footer {
    font-size: 24px;
    line-height: 1.166;
  }
}

/*--Logo-footer: Desktop--*/
@media screen and (min-width: 1200px) {
  .logo-footer {
    font-size: 26px;
    line-height: 1.191;
  }
}

/*.footer {
  padding: 60px 0;
  background-color: $hero-footer-bg-color; 
}*/
/*.logo-address-footer {
   display: inline-flex;
   flex-direction: column;
   align-items: flex-start;
 }*/
/*.logo-footer {
   display: inline-block;
   margin-bottom: 20px;
   font-family: $secondary-font;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.191;
   letter-spacing: 0.03em;
   color: $titel-accent-bg-color;  
 }*/
/*# sourceMappingURL=main.css.map */