/*--(UTILS)--*/
/*--(sass:utils-1/variables)--*/
:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --main-font-style: normal;
  --titel-text-color: #212121;
  --titel-accent-bg-color: #ffffff;
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --hero-footer-bg-color: #2f303a;
  --dark-accent-color: #000000;
  --bright-accent-color: #2196f3;
  --bg-accent-color: #188ce8;
  --border-color: #EEEEEE;
  --border-line-color: #ECECEC;
  --social-icons-color: #afb1b8; 
}

/*--(BASE)--*/
/*--(sass:base-1/common)--*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.background-color {
  color: var(--primary-bg-color);
}
.header {
  background-color: var(--titel-accent-bg-color);
}
.logo-accent {
  color: var(--bright-accent-color);
}
.footer {
  background-color: var(--hero-footer-bg-color);
}
.contact-map,
.contact-mail,
.contact-tel {
  font-style: var(--main-font-style);
}
.contact-bright-bg-mail,
.contact-bright-bg-tel {
  color: var(--primary-text-color);
}
.contact-mail,
.contact-tel {
  color: var(--secondary-text-color);
}
.option-button {
  color: var(--titel-text-color);
  background-color: var(--secondary-bg-color); 
}
/*--(sass:base-2/container)--*/
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}


/*--(COMPONENTS)--*/
/*--(sass:components-1/(Header)/sublist)--*/
.sublist {
  display: flex;
}
.sublist {
  margin-left: auto;
}
.sublist-item-mail {
  display: flex;
}
.sublist-item-tel {
  display: flex;
  margin-left: 30px;
}
/*--(scss:components-2/(Header)/contact-bright-bg-mail+tel)--*/
.contact-bright-bg-mail,
.contact-bright-bg-tel {
  display: flex;
  align-items:center; 
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.contact-bright-bg-mail:hover,
.contact-bright-bg-mail:focus,
.contact-bright-bg-tel:hover,
.contact-bright-bg-tel:focus {
  color: var(--bright-accent-color);
}
.contact-bright-bg-mail:hover .icon-envelope-svg,
.contact-bright-bg-mail:focus .icon-envelope-svg,
.contact-bright-bg-tel:hover .icon-smartphone-svg,
.contact-bright-bg-tel:focus .icon-smartphone-svg {
  fill: var(--bright-accent-color);
}
.icon-envelope-svg, 
.icon-smartphone-svg {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*----(scss:components-3/(Hero)/modal-button)----*/
.modal-button {
  display: inline-block;
  padding: 10px 32px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--titel-accent-bg-color);
  background-color: var(--bright-accent-color);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--bg-accent-color);
}

/*--(scss:components-4/(Hero)/modal)--*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background: var(--titel-accent-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 500ms linear 250ms;
  padding: 40px;
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--titel-accent-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius:50%;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
  fill: var(--bright-accent-color);
}
.icon-close-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 500ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 500ms linear 500ms; 
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: all 500ms linear 0ms;
}

/*--(scss:components-5/(Hero)/modal-form)--*/

.modal-form {
  display: flex;
  flex-direction: column;
}
.headline-modal {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1,151;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titel-text-color);
}
.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1,167;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.form-field-wraper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.modal-form-input:focus,
.modal-form-massage:focus {
  outline: none;
  border: 1px solid var(--bright-accent-color);
}
.modal-icon-svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.modal-form-input:focus + .modal-icon-svg {
  fill: var(--bright-accent-color);
}
.coment-titel-wraper {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1,167;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.modal-form-massage {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1,141;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
}
.modal-form-policy:checked + .modal-form-policy-label::before {
  background-color: var(--bright-accent-color);
  border-color: var(--bright-accent-color);
  background-image: url(../images/check-mark-icon.svg);
}
.modal-form-policy-label {
  display: flex;
  justify-content: center;
  
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1,713;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}
.modal-form-policy-label::before {
  content:"";
  display: flex;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--titel-text-color);
  margin-right: 7px;
}
.modal-link-accent-color {
  display: inline-block;
  color: var(--bright-accent-color);
}
.submit-button-wraper {
  display: flex;
  justify-content: center; 
}
.modal-form-button {
  width: 200px;
  height: 50px;
  color: var(--titel-accent-bg-color);
  background-color: var(--bright-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--bg-accent-color);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--bg-accent-color);
}


/*----(scss:components-6/(Team)/social-list)----*/
.social-list {
  display: flex;
  justify-content: center;
}
.social-list-item:not(:last-child) {
  margin-right: 10px;
}
.social-list-link:hover, 
.social-list-link:focus {
  background-color: var(--bright-accent-color);
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: var(--titel-accent-bg-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .social-list-svg {
  fill: var(--titel-accent-bg-color);
}
.social-list-svg {
  fill: var(--social-icons-color);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*--(scss:components-7/(footer)/contact)--*/
.contact-map,
.contact-mail,
.contact-tel {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.713;
  letter-spacing: 0.03em;
}
.contact-map {
  color: var(--titel-accent-bg-color);
}
.contact-map,
.contact-mail {
  display: inline-block;
  margin-bottom: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-map:hover,
.contact-map:focus,
.contact-mail:hover,
.contact-mail:focus,
.contact-tel:hover,
.contact-tel:focus {
  color: var(--bright-accent-color);
}

/*--(scss:components-8/(footer)/social-block-footer)--*/
.social-block-footer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 70px;
}

.slogan {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1,141;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titel-accent-bg-color);
}
.social-list-footer {
  display: flex; 
} 

.social-item-footer:not(:last-child) {
  margin-right: 10px;
}
.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover, 
.social-link-footer:focus {
  background-color: var(--bright-accent-color);
}
.social-link-footer-svg {
  fill: var(--titel-accent-bg-color);
  width: 20px;
  height: 20px;
}

 /*--(scss:components-9/(footer)/mailing-form-wraper)--*/
 .mailing-form-wraper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 93px;
}
.mailing-form {
  display: flex; 
}
.mailing-form-input:not(:last-child) {
margin-right: 12px;
}
.mailing-form-input:focus {
  outline: none;
} 
.mailing-form-input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-form-submit:hover,
.mailing-form-submit:focus {
  background-color: var(--bg-accent-color); 
}
.mailing-form-submit {
  display: flex;
  align-items: center;
  padding-left: 29px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1,876;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--titel-accent-bg-color);
  border-radius: 4px;
  background-color: var(--bright-accent-color);
  border: 1px solid var(--bg-accent-color);
  outline: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-wraper {
  position: relative;
  display: flex;
}
.submit-icon-svg {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--titel-accent-bg-color);
}

/* ======== HEADER ======== */
/*--(scss:layout-1/header)--*/
.header {
  padding: 0;
  border: 1px solid var(--titel-accent-bg-color);
}
.header .container {
  display: flex;
}
.logo-header {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.191;
  letter-spacing: 0.03em;
  color: var(--dark-accent-color);
  margin-right: 94px;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list-item {
  position: relative;
}
.navigation-list-link {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-link.current::after {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; 
}
.navigation .navigation-list-link.current {
  color: var(--bright-accent-color);  
}
.navigation-list-link::after {
  content:"";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: flex;
  width: 100%;
  height: 4px;
  background: var(--bright-accent-color);
  border-radius: 2px; 
  opacity: 0;
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--bright-accent-color);
}

/* ======== END HEADER ======== */

/* ======== HERO-Section 1======== */
/*--(scss:layout-2/hero)--*/
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-footer-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/section1/hero-bg-img.jpg), url(../images/section1/grey-bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: border-box;
}

.hero .container {
  text-align: center;
  padding: 200px 0;
}
.hero-headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--titel-accent-bg-color);
  margin-bottom: 30px;
}
/* ======== END HERO-Section1 ======== */

/* ======== FEATURES-Section2 ======== */
/*--(scss:layout-3/features)--*/
.features {
  padding: 94px 0 0;
}
.features-list {
  display: flex;
}

.features-list-item {
  width: 270px;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}
.features-list-item::before {
  content:"";
  display: inline-block; 
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
}
.icon-antenna::before {
  content:"";
  background-image: url(../images/features-bg-img/1-antenna.svg);  
}
.icon-clock::before {
  content:"";
  background-image: url(../images/features-bg-img/2-clock.svg);  
}
.icon-diagram::before {
  content:"";
  background-image: url(../images/features-bg-img/3-diagram.svg);  
}
.icon-astronaut::before {
  content:"";
  background-image: url(../images/features-bg-img/4-astronaut.svg);
}
.features-list-topic {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titel-text-color);
}
.features-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  height: 75px;
  margin-top: 10px;
}
/* ======== END FEATURES-Section2 ======== */

/* ======== ABOUT-Section 3 ======== */
/*--(scss:layout-4/about)--*/
.about {
  padding: 94px 0;
}
.about-desc {
  margin-bottom: 50px;
}
.about-desc-item:not(:last-child) {
  margin-right: 30px;
}
.about-desc-list {
  display: flex;
}
.about-desc {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--titel-text-color);
}
.about-img-wraper {
  position: relative;
}
.about-img-overlay {
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1,141;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titel-accent-bg-color);
  background: rgba(47, 48, 58, 0.8);
}
/* ======== END ABOUT-Section 3 ======== */

/* ======== TEAM-Section 4 ======== */
/*--(scss:layout-5/team)--*/
.team {
  background-color: var(--secondary-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-staff {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titel-text-color);
  margin-bottom: 50px;
}
.staff-list {
  display: flex;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-item {
  background: var(--titel-accent-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  
}
.staff-info {
  padding: 30px 10px;
}

.staff-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--titel-text-color);
  margin-bottom: 10px;
}
.staff-name {
  margin-bottom: 10px;
}
.staff-spetiality {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
/* ======== END TEAM-Section 4 ======== */


/* ======== OUR CLIENTS-Section 5 ======== */
/*--(scss:layout-6/clients)--*/
.clients {
  padding: 94px 0;
}
.titel-text {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titel-text-color);
}
.clients-list {
  display: flex;
}
.clients-list-icon:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--social-icons-color);
  border-radius: 4px;
  width: 170px;
  height: 90px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--bright-accent-color);
}

.clients-logo-svg {
  display: flex;
  fill: var(--social-icons-color);
  transition-property: fill; 
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-logo-svg {
  fill: var(--bright-accent-color);
}
/* ======== END OUR CLIENTS-Section 5 ======== */

/* ======== FOOTER ======== */
/*--(scss:layout-7/footer)--*/
.footer {
  padding: 60px 0;
}

.logo-address-footer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.191;
  letter-spacing: 0.03em;
  color: var(--titel-accent-bg-color);  
}
/* ======== END FOOTER ======== */




/* ======== PORTFOLIO-Filter-Buttons ======== */
/*--(portfolio.scss)--*/
/*--(scss:components-1/option-button)--*/
.option-button {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  font-family: var(--main-font);
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.option-button:hover,
.option-button:focus {
  color: var(--titel-accent-bg-color);
  background-color: var(--bright-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.option-list .option-button.current {
  color: var(--titel-accent-bg-color);
  background-color: var(--bright-accent-color);
}
  .portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
} 

.option-list {
  justify-content: center;
  display: flex;
  margin-bottom: 50px; 
}
.option-list-item:not(:last-child) {
  margin-right: 8px;
}


/* ======== END PORTFOLIO-Filter-Buttons ======== */

/* ======== PORTFOLIO-PROJECTS-GALLERY-list ======== */
/*--(scss:components-2/(Portfolio)/projects-gallery)--*/
.projects-list {
  font-size: 0;
}

.projects-list-item {
  width: 370px;
  display: inline-block;
  background: var(--titel-accent-bg-color); 
}
.projects-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.projects-list-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.projects-link {
  display: inline-block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-link:hover, 
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-link:hover .overlay-text {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.projects-img-wraper {
  overflow: hidden;
  position: relative;
}

.projects-desc {
  padding: 20px 24px;
  border-left:  1px solid var(--border-color);
  border-right:  1px solid var(--border-color);
  border-bottom:  1px solid var(--border-color);
}

.projects-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titel-text-color);
}

.projects-typ {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.overlay-text {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--titel-accent-bg-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%); 
}





/* ======== END PORTFOLIO-PROJECTS-GALLERY-list ======== */
