/*--Footer: COMMON--*/
.footer {
  padding: 60px 0;
  background-color: $hero-footer-bg-color;
}




/*--Logo-address-footer: Mobile--*/
 @media screen and (min-width: 480px) {
  .logo-address-footer {
    display: block;
    text-align: center;
    margin-bottom: 60px; 
  }
}

/*--Logo-address-footer: Tablet--*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo-address-footer {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
  }
}




/*--Logo-address-footer: Desktop--*/
@media screen and (min-width: 1200px) {
  .logo-address-footer {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    margin-right: 70px;
    text-align: left;
  }
}

 
/*--Logo-footer: COMMON--*/
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: $secondary-font;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: $titel-accent-bg-color;  
}

/*--Logo-footer: Mobile & Tablet--*/
 @media screen and (min-width: 480px) {
  .logo-footer {
    font-size: 24px;
    line-height: 1.166; 
  }
}


/*--Logo-footer: Desktop--*/
@media screen and (min-width: 1200px) {
  .logo-footer {
    font-size: 26px;
    line-height: 1.191;
  }
}





/*.footer {
  padding: 60px 0;
  background-color: $hero-footer-bg-color; 
}*/
 
 /*.logo-address-footer {
   display: inline-flex;
   flex-direction: column;
   align-items: flex-start;
 }*/
 
 /*.logo-footer {
   display: inline-block;
   margin-bottom: 20px;
   font-family: $secondary-font;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.191;
   letter-spacing: 0.03em;
   color: $titel-accent-bg-color;  
 }*/