
.header {
  position: relative;
  
  padding: 0;
  border: 1px solid $border-line-color;
  background-color: $titel-accent-bg-color;
}


.logo-header {
  font-family: $secondary-font;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: $dark-accent-color;
  
}
@media screen and (min-width: 480px) {
  .logo-header {
    margin-right: 276px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 1.175;
  }
}

@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-header {
    font-size: 26px;
    line-height: 1.191;
    margin-right: 94px;
  }
}

.logo-accent {
  color: $bright-accent-color;
}

/*.navigation {
  display: flex;
  align-items: center;

  &-list {
   display: flex;
 }
  &-list-item {
   position: relative;
     &:not(:last-child) {
     margin-right: 50px;
   }
 }
}*/

@media screen and (min-width: 480px) {
  .navigation {
      display: flex;
      align-items: center;
    &-list {
        display: none;
      }
  }

}

@media screen and (min-width: 768px) {
  .navigation {
      display: flex;
      align-items: center;

    &-list {
      display: flex;
    }
    &-list-item {
      position: relative;
    }
    &-list-item:not(:last-child) {
      margin-right: 50px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
      display: flex;
      align-items: center;

    &-list {
      display: flex;
    }
    &-list-item {
      position: relative;
    }
    &-list-item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.navigation-list-link {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $titel-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.current::after {
   opacity: 1;
   visibility: visible;
   pointer-events: auto; 
 }
  &::after {
   content:"";
   position: absolute;
   bottom: -1px;
   left: 0;
   display: flex;
   width: 100%;
   height: 4px;
   background: $bright-accent-color;
   border-radius: 2px; 
   opacity: 0;
  }
  &:hover,
  &:focus {
   color: $bright-accent-color;
  }
  .navigation &.current {
   color: $bright-accent-color;  
  }
}





/*.header {
   padding: 0;
   border: 1px solid $border-line-color;
   background-color: $titel-accent-bg-color;
 }*/
 
/*.logo-header {
   font-family: $secondary-font;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.191;
   letter-spacing: 0.03em;
   color: $dark-accent-color;
   margin-right: 94px;
}*/
 /*.logo-accent {
  color: $bright-accent-color;
}*/
/*.navigation {
   display: flex;
   align-items: center;

   &-list {
    display: flex;
  }
   &-list-item {
    position: relative;
      &:not(:last-child) {
      margin-right: 50px;
    }
  }
}*/

/*.navigation-list-link {
   display: inline-block;
   padding: 32px 0;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.143;
   letter-spacing: 0.02em;
   color: $titel-text-color;
   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   &.current::after {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; 
  }
  &::after {
    content:"";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: flex;
    width: 100%;
    height: 4px;
    background: $bright-accent-color;
    border-radius: 2px; 
    opacity: 0;
  }
  &:hover,
  &:focus {
    color: $bright-accent-color;
  }
  .navigation &.current {
    color: $bright-accent-color;  
  }
}*/



 
