/*--Header: COMMON--*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 0;
  border-bottom: 1px solid $border-line-color;
  background-color: $titel-accent-bg-color;
}

/*--Logo-header: COMMON--*/
.logo-header {
  font-family: $secondary-font;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: $dark-accent-color;
  
}
/*--Logo-header: Mobile--*/

@media screen and (min-width: 480px) {
  .logo-header {
    margin-right: 276px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 1.175;
  }
}

/*--Logo-header: Tablet--*/

@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 88px;
  }
}

/*--Logo-header: Desktop--*/

@media screen and (min-width: 1200px) {
  .logo-header {
    font-size: 26px;
    line-height: 1.191;
    margin-right: 94px;
  }
} 

/*--Logo-accent: COMMON--*/

.logo-accent {
  color: $bright-accent-color;
}


/*--Navigation: Mobile--*/

@media screen and (min-width: 480px) and (max-width: 767px) {
  .navigation {
    display: flex;
    

    align-items: center;

    &-list-item { 
      
      position: relative;
    }

    &-list-item:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

/*--Navigation: Tablet--*/

@media screen and (min-width: 767px) {
  .navigation {
      display: flex;
      align-items: center;

    &-list {
      display: flex;
    }
    &-list-item {
      
      position: relative;

    }
    &-list-item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

/*--Navigation: Desktop--*/

@media screen and (min-width: 1200px) {
  .navigation {
      display: flex;
      align-items: center;
      width: 100%;
    &-list {
      display: flex;
    }
    &-list-item {
      position: relative;
    }
    
  }
}

/*--Navigation-list-link: COMMON--*/

.navigation-list-link {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: $titel-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.current::after {
   opacity: 1;
   visibility: visible;
   pointer-events: auto; 
 }
  &::after {
   content:"";
   position: absolute;
   bottom: -1px;
   left: 0;
   display: flex;
   width: 100%;
   height: 4px;
   background: $bright-accent-color;
   border-radius: 2px; 
   opacity: 0;
  }
  &:hover,
  &:focus {
   color: $bright-accent-color;
  }
  .navigation &.current {
   color: $bright-accent-color;  
  }
}

/*--Navigation-list-link: Mobile--*/

@media screen and (min-width: 480px) and (max-width: 767px) {
  .navigation-list-link {
    position: relative;
    display: inline-block;
    align-items: center;
    padding: 0; 
  }
  .navigation-list-link::after {
    content:"";
    position: absolute;
    bottom: -8px;
    left: 0;
    display: flex;
    width: 100%;
    height: 4px;
    background: $bright-accent-color;
    border-radius: 2px; 
    opacity: 0;
   }
} 

/*--Navigation-list-link: Tablet--*/

@media screen and (min-width: 767px) {
  .navigation-list-link {
    display: inline-block;
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.143;
     
  }
}

/*--Navigation-list-link: Desktop--*/

@media screen and (min-width: 1199px) {
  .navigation-list-link {
    display: inline-block;
    font-size: 14px;
    line-height: 1.143; 
  }
}