/*--Header Contact--*/
.contact {
  &-bright-bg-mail,
  &-bright-bg-tel {
    display: flex;
    align-items:center; 
    color: $primary-text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  }
  &-bright-bg-mail,
  &-bright-bg-tel {
    color: $primary-text-color;
  }

  &-bright-bg-mail:hover,
  &-bright-bg-mail:focus,
  &-bright-bg-tel:hover,
  &-bright-bg-tel:focus {
    color: $bright-accent-color;
  }
  &-bright-bg-mail:hover .icon-envelope-svg,
  &-bright-bg-mail:focus .icon-envelope-svg,
  &-bright-bg-tel:hover .icon-smartphone-svg,
  &-bright-bg-tel:focus .icon-smartphone-svg {
    fill: $bright-accent-color;
  }
}


@media screen and (min-width: 480px) {
  .contact {
    
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    &-bright-bg-mail,
    &-bright-bg-tel {
      padding: 0;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.167;
      letter-spacing: 0.02em;  
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    &-bright-bg-mail,
    &-bright-bg-tel {
      padding: 32px 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em;
    }
  }
}


.icon {
  &-envelope-svg,
  &-smartphone-svg {
  margin-right: 10px;
  fill: $primary-text-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/*--Footer Cotact--*/

.contact {
  &-mail,
  &-tel {
    color: $secondary-text-color;
  }

  &-map,
  &-mail,
  &-tel {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.713;
    letter-spacing: 0.03em;
  }
  &-map {
    color: $titel-accent-bg-color;
  }
  &-map,
  &-mail {
    display: inline-block;
    margin-bottom: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-map:hover,
  &-map:focus,
  &-mail:hover,
  &-mail:focus,
  &-tel:hover,
  &-tel:focus {
    color: $bright-accent-color;
  }
}

 



