
.menu-buttons-burger {
   display: inline-flex;
   
   border: none;
   background-color: transparent;
}  


@media screen and (min-width: 480px) {
   .menu-buttons-burger {
      & .icon-cross {
         display: none;
      }
      &.is-open .icon-cross {
         display: block;
      }
      &.is-open .icon-menu {
         display: none;
      }
   }
}



@media screen and (min-width: 768px) {
   .menu-buttons-burger {
      display: none;
   }
   
}

@media screen and (min-width: 1200px) {
   .menu-buttons-burger {
      display: none;
   }
}

