@media screen and (min-width: 480px) {
  .sublist {
    display: none;
  }
 }

@media screen and (min-width: 768px) {
  .sublist {
    
    display: inline-block;
    padding: 0;
    &-item-mail {
     display: flex;
     
   }
    &-item-tel {
     display: flex;
    
   }
  }
}

@media screen and (min-width: 1200px) {
  .sublist {
    
    display: flex;
    margin-left: auto;
    &-item-mail {
     display: flex;
   }
    &-item-tel {
     display: flex;
     margin-left: 30px;
   }
  }
}
 
 
 