.sublist {
    display: flex;
    padding: 0;
}


@media screen and (max-width: 767px) {
  .sublist {
    display: inline-block;
    align-items: center;
    margin-top: 60px;
    
    &-item-mail {
      margin-bottom: 16px;
    }
    &-item-tel {
      display: inline-block;
      align-items: center;
    }
    
  }
 }

@media screen and (min-width: 767px) and (max-width:1199px) {
  .sublist {
    display: inline-block;
    margin-left: 84px;
    &-item-mail {
      margin-bottom: 10px;
    }  
  }
}

@media screen and (min-width: 1200px) {
  .sublist {
    display: flex;
    margin-left: 305px;
    &-item-mail {
     display: flex;
   }
    &-item-tel {
     display: flex;
     margin-left: 30px;
   }
  }
}
 
 
 