html {
   box-sizing: border-box;
 }
 
 *,
 *::before,
 *::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
 }
 
 body {
   font-family: $main-font;
 }
 
 img {
   display: block;
 }
 
 .list {
   list-style: none;
 }
 .link {
   text-decoration: none;
 }
 
 .background-color {
   color: $primary-bg-color;
 }

/*--Main Container--*/

 .container {
  padding: 0 15px;     
}

/*--container: Mobile--*/

@media screen and (min-width: 320px) {
  .container {
    
    width: 480px;
    margin: 0 auto;
    .hero & {
      display: inline-block;
      text-align: center;
      padding: 0; 
    }
  } 
}

/*--container: Tablet--*/

@media screen and (min-width: 768px) {
  .container {
    position: relative;
    width: 768px;
    .hero & {
      display: inline-block;
      text-align: center;
      padding: 0; 
    }
  }  
}

/*--container: Desktop--*/

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;

    .header & {
      display: flex;
    }
     
    .hero & {
      display: block;
      margin: 0 auto;
      padding: 0; 
    }
  }
}



 
 
 