   $main-font: Roboto, sans-serif;
   $secondary-font: Raleway, sans-serif;
   $main-font-style: normal;
   $titel-text-color: #212121;
   $titel-accent-bg-color: #ffffff;
   $primary-text-color: #757575;
   $secondary-text-color: rgba(255, 255, 255, 0.6);
   $primary-bg-color: #e5e5e5;
   $secondary-bg-color: #f5f4fa;
   $hero-footer-bg-color: #2f303a;
   $dark-accent-color: #000000;
   $bright-accent-color: #2196f3;
   $bg-accent-color: #188ce8;
   $border-color: #EEEEEE;
   $border-line-color: #ECECEC;
   $social-icons-color: #afb1b8; 

   


  
   
    